/* Main Style File - Imports all CSS modules */
@import url('base.css');
@import url('login.css');
@import url('profile.css');
@import url('upload.css');
@import url('arena.css');
@import url('leaderboard.css');
@import url('achievement.css');
@import url('admin.css');
@import url('comment.css');
@import url('memes.css');
